<div>
  <img class="me-img" src="assets/img/me.JPG" alt="Robert Wilk">
</div>
<div>
  SOFTWARE DEVELOPER | <em>Agilist</em>
</div>
<div>
  <p>
    Here is a bunch of test content to show that if I were to provide
    some really long content that this div would display the way any
    sound-minded individual would expect and appreciate. For the sake
    of this example, I will continue to add such banter to this page
    for the sole purpose stated earlier; to see how this div renders.
    Thank you for your much appreciated time and understanding. If you
    would like to register for your free cardboard cookie that comes
    to you automatically due to your efforts, please call 1-900-freeckes.
  </p>
</div>
